<p id="notice"><%= notice %></p>

<h1>Stresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Stress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stresses.each do |stress| %>
      <tr>
        <td><%= stress.user_id %></td>
        <td><%= stress.date %></td>
        <td><%= stress.stress %></td>
        <td><%= link_to 'Show', stress %></td>
        <td><%= link_to 'Edit', edit_stress_path(stress) %></td>
        <td><%= link_to 'Destroy', stress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stress', new_stress_path %>
